<ul>
    <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit obcaecati officia suscipit, accusamus saepe sapiente necessitatibus, quibusdam hic, voluptatibus amet unde voluptatum neque officiis. Sint ullam ut earum quae reprehenderit!</li>
    <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero ipsam eveniet eaque beatae dolorum enim earum tempora optio, in voluptatibus assumenda, eos commodi nesciunt obcaecati magni, quo sunt iusto aliquam!</li>
    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere doloremque in totam accusantium dolores quasi aliquam explicabo? Molestias, delectus, ab nihil eos distinctio perspiciatis dolor ducimus dolores facere veniam porro.</li>
</ul>